/* ==========================================================================
   cowboy.css - Input your non sass compiled css and hacky bits here.
   ---
   Add a note around your snippets letting other devs know who has worked on
   it and what you were fixing so that they can move it to their scss
   structure.
   ---
   Note structure:
   dev:  jake;
   date: 25/08/2014;
   note: This is my code, i put it here because I don't have codekit;
   ==========================================================================

                        oooo     oooo
                      o$$"""$oo$$"""""$o
                     $"      $$"      $$$$
                    $"      ""        $$$$$o
                    $                  $$$$$o
                   $                    $$$$$$
                  $"                    "$$$$$
                  $                      $$$$$$
                 $"                      $$$$$$
                 $                        $$$$$
                 $                       o$$$$$
                 $                       $$$$$$
                 $                      o$$$$$$
              ooo                      o$$$$$$$
      ooo$$$$"" $                   oo$$$$$""""""oooo
   oo"$$$$$$$ oo"" oooooooooooooooo$$"""           o$$"oo
  o"  $$$$$$$ "$o           oo$$$$$"               $$$$o"$o
 $    $$$$$$$  " ""oooooooooo$$$$"         o$      $$$$$$o"$
o     $$""               oo$$$"           o$$     o$$$$$$$o$
"o    $$             oo$$$$""            o$$$   o$$$$$$$$$$$
 "$o  $$$oo                           $$$$$$$   ooo$$$$$""
   "$$oooo ""            ooo$$$$      $$$$$$$$$$$$$$""
       """"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$""""""
                 """"""""""""""""""

*/